.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  padding-bottom: 1px;
  max-height: 80px;

  background-image: url('https://cdn.pixabay.com/photo/2016/11/18/19/27/ground-1836537_960_720.jpg');
}
