.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 20px;
  width: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2022/10/06/23/50/batman-7503733_960_720.png');
  background-color: #2f303a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
}
