.title {
  color: black;

  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;

  margin-bottom: 15px;
}

.img {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding-top: 40px;
  padding-bottom: 80px;

  background-position: 50% 50%;
}
